<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="add.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addProduct</title>
</head>
<body>
    <tr> <b>Add New Product</b> </tr>
    <div id="left">
				<form action="/insert" method="post">
					<table>
						
						<tr>
							<td>Product Name</td>
							<td><input type="text" name="txtName" id=""></td>
							<h3>{{error.name}}</h3>
						</tr>
						<tr>
							<td>Image:</td>
							<td><input type="text" name="txtImage" id=""></td>
						</tr>
						<tr>
							<td>Price:</td>
							<td><input type="text" name="txtPrice" id=""></td>
						</tr>

						
						
					</table>
                        <input style=" width:100px; height:40px ;background-color:white ; border-radius:20px" type="submit" name="Add" value="Add" id=""> 
						<button onclick="/index" >Cancel</button>

				</form>
			</div> 
</body>
</html>