<!DOCTYPE html>
<html>

<head>
	<title>Login as administrator</title>
	{{!--
	<link rel="stylesheet" type="text/css" href="CSS_login.css"> --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
	{

		background-image: url(https://anhdepblog.com/wp-content/uploads/2018/03/hinh-nen-mau-xanh-1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}

	#form-login {

		padding: 50px 10px;
		width: 400px;
		min-height: 100px;
		background: rgba(0, 0, 0, .8);
		margin: 0px auto;
		margin-top: 80px;
		border-radius: 30px;
		border: 1px solid black;
		margin-top: 100px;
		height: 390px;
	}

	h2 {
		font-family: "Trebuchet MS";
		text-align: center;
	}

	#form-login #txtusername,
	#form-login #txtpassword {
		display: block;
		width: 80%;
		padding: 10px;
		margin: 0px auto;
		margin-top: 15px;
		border-radius: 10px;
		transition: .3s;
	}

	#txtusername:focus,
	#txtpassword:focus {
		border-color: dodgerBlue;
		box-shadow: 0 0 8px 0 dodgerBlue;
	}

	.InputWithIcon input[type="text, password"] {
		padding-left: 40px;
	}

	.InputWithIcon {
		position: relative;
	}

	.InputWithIcon i {
		position: absolute;
		left: 0;
		top: 8px;
		padding: 9px 8px;
		color: #aaa;
		transition: 0.3s;
	}

	#form-login #btn-login {
		background: #4EAB49;
		color: white;
		border: 0px;
		padding: 10px 30px;
		display: block;
		margin: 0px auto;
		margin-top: 15px;
		width: 86%;
		transition: all .5s;
		border-radius: 10px;
	}

	#form-login #btn-login:hover,
	#btn-login:active {
		background: #3AA9CD;
		cursor: pointer;
	}

	body {
		background-image: url(https://anhnendep.net/wp-content/uploads/2015/06/hinh-nen-sieu-xe-ferari-2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	button {
		width: 100px;
		height: 40px;
		border-radius: 10px;
		margin-left: 20px;
	}
	}
</style>

<body>
	<div class="wrap">
		<div id="form-login">
			<form action="/doLogin" method="post">
				<h2 style="color: white;">FORM LOGIN </h2>
				<div class="InputWithIcon">
					<i class="fa fa-user" aria-hidden="true"></i>
					<input type="text" name="txtusername" placeholder="Enter username" id="txtusername">
				</div>
				<div class="InputWithIcon">
					<i class="fa fa-lock" aria-hidden="true"></i>
					<input type="password" name="txtpassword" placeholder="Enter password" id="txtpassword" style="-webkit-text-security: circle;">
				</div>
				<input type="submit" name="login" id="btn-login" value="Login">
				<h2 style="color:white;">{{errorMsg}}</h2>
			</form>
			<a href="/register">
				<input type="submit" name="Register" id="btn-login" value="Register">

			</a>
			<p style="margin-left:150px; color:white">Login With:</p>

			<button style="background-color: rgb(43, 43, 105);color:white;font-family:cursive;"> <i
					class="fa fa-facebook"></i> Facebook </button>
			<button style="background-color:rgb(221, 39, 76);color:white;font-family:cursive;"> <i
					class="fa fa-google"></i> Google+</button>
			<button style="background-color:rgb(109, 147, 230) ;color:white;font-family:cursive;"> <i
					class="fa fa-twitter "></i> Twitter</button>
		</div>

	</div>
</body>

</html>