<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	 <link rel="stylesheet" href="css.css" />
</head>
<body>
		<div id ="Layout">
		<div style="height: auto;width: auto;">
		<img src=""width="20%" style="margin-left: 10px; float: left;"></div>
	<div style=" float: left;">
		<a class="a8"  href="homeadmin.php"><button class="but2"><b>HOME</b></button></a>
		<a class="a8" href="sedan.php"><button class="but2"> <b>Infomation of Customer</b></button></a>
		<a class="a8"  href="SUV.php"><button class="but2"><b>Infomation Line</b></button></a>
		<a class="a8"  href="Coupes.php"><button class="but2"><b>Login For Customer</b></button></a>
		<a class="a8"  href="future.php"><button class="but2"><b>Logout</b></button></a>
	
	</div>
<div id="picture">
	<img src="https://cdn.shopify.com/s/files/1/0504/9925/6496/files/unnamed_1_1024x1024.jpg?v=1607118747" width="100%"; height="auto">
</div>

<h1>CAR MODEL</h1>
<div id="a4">
	<div class="anh">
		<img src="https://m.media-amazon.com/images/I/51F+9Vkkv9L._AC_SR160,160_.jpg" alt="" width="70%" >
		<h3 class="h3">SEDANS</h3>
		<a href="sedan.php"><button class="but"> <b>EXPLORE</b></button></a>	
	</div >
	<div class="anh">
		<img src="https://m.media-amazon.com/images/I/518SzUWrf9L._AC_SR160,160_.jpg"width="70%";>
		<h3 class="h3">SUV</h3>
		<a href="suv.php"><button class="but"> <b>EXPLORE</b></button></a>
	</div>
		<div class="anh">
		<img src="https://m.media-amazon.com/images/I/51SUyjXFHnS._AC_SR160,160_.jpg" width="70%">
		<h3 class="h3">COUPES</h3>
		<a href="coupes.php"><button class="but"> <b>EXPLORE</b></button></a>
	</div>
</div>
<h3 class="heading" >FUTURE</h3>
<div class="a4">
	<div class ="abc" >
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgSFhkr4VGhe5IOM-Sx7aWsbI3SKEKOQEsR4SRXBjV5mC9zt1jNq2bzUjgQJ3mjXbLEvY&usqp=CAU" width="600px">	
	</div>
	<div class="d1"  >
		<br>
		<br>
		<h2>LEXUS 2021 COMING SOON</h2>
		<p style=";margin-right: 200px;">
It can be seen that the exterior is the most prominent highlight of this new Lexus IS generation. The car has a larger side air cavity with LED headlights with integrated LED daytime running lights and optional three-beam LED headlights. In addition, with the F Sport version, the grille and air intakes are painted black to create accents.</p>
	<a href="future.php"><button class="but1">VIEW DETAILS</b>
	</button></a>
	</div>
</div>
	<div class="footer">
		<p style="color: #888585; text-align: center;margin-top: 30px">2020 Lexus Automobilies S.A.S.</p>
		<div>	
		<p class="s0">		
		<a class="s3" href="Contact"> CONTACT US</a>
		<a class="s3" href="Career">CAREER</a>
		<a class="s3" href="MEDIA">MEDIA</a>
		<a class="s3" href="DATA">GUARANTEE</a>
		<a class="s3" href=""> SUPPORT</a>
		<a class="s3" href="">FINANCIAL LEASING</a> 
		</p>
		</div>
		</div>
</body>
</html>
